.hot-collections-carousel {
  position: relative;
}

.hc-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;

  width: 44px;
  height: 44px;
  border-radius: 999px;

  border: 1px solid #ddd;
  background: #fff;
  color: #111;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 26px;
  line-height: 1;
  cursor: pointer;
}

/* Left/right placement */
.hc-arrow--left {
  left: -18px; 
}

.hc-arrow--right {
  right: -18px; 
}


.hc-arrow:hover {
  border-color: #bbb;
}
